.auth-cont {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;

  .auth-box {
    border: 1px solid grey;
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 7rem auto;
    background-color: @card-bk;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000;
    padding: 1rem;

    h2 {
      display: flex;
      margin: 0.5rem auto;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 1rem auto;
    }

    p {
      display: flex;
      margin: 1rem auto;
    }

    button {
      font-size: 2rem;
      width: 75%;
      margin: 0 auto;
      color: ;
      background-color: ;

      &:hover {
        
      }
    }
  }
}
