.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: black;

  .menu {
    display: inline-block;
    position: relative;
    color: white;
    flex-direction: column-reverse;
    justify-content: space-around;

    .fas {
      display: flex;
      font-size: 3rem;
      margin: 0.3rem;
      padding: 0.5rem 2rem;

      &:hover {
        color: lightgrey;
        cursor: pointer;
        transition: 1s
      }
    }

    .menu-items {
      position: absolute;
      z-index: 99;
      display: block;
      flex-direction: column;
      justify-content: space-around;
      background-color: black;
      min-width: 300px;
      margin: 5rem 0 0 0;

      .menu-link {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: space-around;
        margin: 1rem;
        padding: 0 1rem;
        font-size: 2.5rem;
        text-decoration: none;
        color: white;

        &:hover {
          color: black;
          background-color: white;
          transition: 1s;
        }
      }
    }
  }

  .logo {
    display: flex;
    font-size: 1rem;
    color: white;
    text-shadow: 1.5px 1.5px lightgrey;

    img {
      height: 5rem;
    }
  }

  .user {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-around;

    .far {
      display: flex;
      font-size: 3rem;
      margin: 0.3rem;
      padding: 0.5rem 2rem;

      &:hover {
        color: lightgrey;
        cursor: pointer;
        transition: 1s
      }
    }

    .fas {
      display: flex;
      font-size: 3rem;
      margin: 0.3rem;
      padding: 0.5rem 2rem;

      &:hover {
        color: lightgrey;
        cursor: pointer;
        transition: 1s
      }
    }

    .user-items {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .user-link {
        display: flex;
        margin: 1rem;
        padding: 0 1rem;
        font-size: 2.5rem;
        text-decoration: none;
        color: white;

        &:hover {
          color: black;
          background-color: white;
          transition: 1s;
        }
      }
    }
  }
}
