.profile {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;

  .head {
    margin: 1rem auto;
  }

  .user-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem auto;
    max-width: 800px;
    justify-content: space-between;

    .img {
      display: flex;
      width: 30rem;
      height: 20rem;
      margin: 1rem;
      border: 1px solid @seco;
    }

    .info {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      margin-left: 2rem;
      text-align: left;

      h3 {
        margin-bottom: 1.5rem;
      }
      
      p {
        margin: 0.5rem 0;
      }
    }
  }

  .user-tabs {
    margin-top: 1rem;

    .span {
      font-size: 2rem;
    }
  }
}

.item-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 1rem;

  .item-img{
    border: 1px solid @seco;
    display: flex;
    width: 6rem;
    height: 6rem;
  }

  .item-info {
    display: flex;
    text-align: center;
    width: 80%;
    flex-direction: column;
  }

  .item-actions {
    display: flex;
    flex-direction: column;
    width: 8rem;

    button {
      width: 100%;
      height: 3rem;
    }
  }

  form {

    .info-row {
      display: flex;
      flex-direction: row;
      width: 100%;

      .row-5 {
        width: 49%;
      }

      .row-10 {
        width: 98%;
      }
    }
  }
}
